<% if @users.any? %>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h2><%= @group.name %> グループ編集</h2>
           <%= render 'group_form', group: @group %>
        </div>
    </div>
<% end %>



