<div class="mx-auto" style="width: 250px;">

<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
        <div>
            <li class="media">
                <div>
                    <%= icon_url(user) %>
                </div>
                <div class="media-body">
                    <div>
                        <h4><%= link_to user.name, user_path(user) %></h4>
                    </div>
                </div>
            </li>
        </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>
</div>