<div class="center jumbotron">
    <div class="text-center">
        <h1>Welcome to Uritime!</h1>
        <p>Uritimeとはカレンダーを利用した<br>
        スケジュール管理アプリです。</p>
        
        <%= link_to "登録はこちら", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>