<% if logged_in? %>
    <h4><%= current_user.name %>さんのカレンダー</h4>
    <%= render 'layouts/calendar', model: @calendars %>
<% else %>

    <div class="center jumbotron">
        <div class="text-center">
            <h1>Welcome to Uritime!</h1>
            <p>Uritimeとはカレンダーを利用した<br>
            スケジュール管理アプリです。</p>
            
            <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
            <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
    
<% end %>