<h5><%= calendar.title %></h5>
<div>
    <p><%= calendar.start_time.strftime("%Y-%m-%d %H:%M") %> ~ <% if calendar.end_time? %><%= calendar.end_time.strftime("%Y-%m-%d %H:%M") %><% end %></p>
    <p><%= calendar.content %></p>
</div>